{% extends 'bootstrap/base.html' %}
{% block title %}
    SHOPTITESZ - TIENDA EN LINEA
{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static',filename='css/estilo.css')}}">
{% endblock %}
{% block navbar %}
    <header>
        <h1 class="tituloHeader">SHOPITESZ - TIENDA VIRTUAL DEL ITESZ</h1>
    </header>
{% endblock %}
{% block content %}
<div class="container">
    {% block contenido %}
        <!--Sistema de alertas de Bootstrap -->
       {% if get_flashed_messages() %}
       <div class="alert alert-warning alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
           <strong>
               {% for msg in get_flashed_messages() %}
                    {{msg}}
               {% endfor %}
           </strong>
        </div>
       {% endif %}
    {% endblock %}
</div>
{% endblock %}