<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SHOPITESZ</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">CATALOGOS
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">CATEGORIAS</a></li>
          <li><a href="/productos">PRODUCTOS</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">PEDIDOS
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">REGISTRO</a></li>
          <li><a href="#">SEGUIMIENTO</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">USUARIOS
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/registrarCuenta">CLIENTES</a></li>
          <li><a href="#">VENDEDORES</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>