{% extends 'comunes/base.html' %}
{% block body_attribs %}
    onload="obtenerID()"
{% endblock%}
{% block navbar %}
    {{super()}}
    {% include 'comunes/menu.html' %}
{% endblock %}
{% block contenido %}
    <h1 class="bg-primary bg-l text-center">LISTADO DE PRODUCTOS POR CATEGORIA</h1>
    <label>Selecciona la Categoria:</label>
    <select id="categoria" onchange="obtenerID()">
        <option value="0">Todas las categorias</option>
        {% for cat in categorias %}
            {% if cat.estatus=='Activa' %}
            <option value="{{cat.idCategoria}}">{{cat.nombre}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <div class="table-responsive">
    <table class="table" id="datos">
        <thead>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>DESCRIPCION</th>
            <th>PRECIO</th>
            <th>STOCK</th>
            <th></th>
            <th>COMPRAR</th>
        </thead>
    </table>
    </div>
<!-- Cuadro modal para el carrito de compra -->
<div id="producto" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Carrito de compra</b></h4>
      </div>

          <div class="modal-body">
            <div id="informacionProducto">

                <label>ID:</label>
                <input type="number" name="id" id="id" readonly>
                <label>Nombre:</label>
                <input type="text" name="nombre" id="nombre" readonly>
                <label>Descripcion:</label>
                <input type="text" name="descripcion" id="descripcion" readonly>
                <label>Precio:</label>
                <input type="number" name="precio" id="precio" readonly>
                <label>Existencia:</label>
                <input type="number" name="existencia" id="existencia" readonly>
                <label>Cantidad:</label>
                <input type="number" name="cantidad" id="cantidad"  min="1" step="1">
                <label>Total:</label>
                <input type="number" name="total" id="total" readonly>


            </div>
          </div>
          <div class="modal-footer">
              <a href="/carrito/agregar" class="btn btn-default">Agregar</a>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
          </div>

    </div>

  </div>
</div>
{% endblock %}
{% block scripts %}
{{super()}}
<script src="{{url_for('static',filename='js/productos.js')}}"></script>
{% endblock %}