{% extends 'comunes/base.html' %}
{% block contenido %}
    <h1 class="bg-primary text-center">Registro de cuentas</h1>
    <form>
        <div class="form-group">
            <label for="nombre">Nombre completo:</label>
            <input class="form-control form-control-lg" type="text" name="nombre" maxlength="50"  placeholder="Nombre Completo">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" maxlength="50" class="form-control form-control-lg">
        </div>
        <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" name="direccion" maxlength="60" class="form-control">
        </div>
        <div class="form-group">
            <label for="clave">Password:</label>
            <input type="password" name="clave" maxlength="20" class="form-control">
        </div>
        <div class="form-group">
            <label for="telefono">Telefono:</label>
            <input type="tel" name="telefono" maxlength="12" class="form-control">
        </div>
        <div class="radio">
            <label>Genero:</label>
            <label class="radio-inline"><input type="radio" name="genero" value="F">Femenino</label>
            <label class="radio-inline"><input type="radio" name="genero" value="M">Masculino</label>
        </div>
        <button type="submit" class="btn btn-primary mb-3">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            Registrar
        </button>
        <a href="/validarSesion" class="btn btn-danger mb-3">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            Regresar
        </a>
    </form>
{% endblock %}
