h1{
    color:blue;
    font-size:15px;
    font-weight: bold;
}
.tituloHeader{
    color:white;
    font-size:30px;
    font-weight:bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#h1{
    color:green;
    font-size:10px;
    font-weight:bold;
}
.linkButton{
    background:red;
    border:2px solid black;
    text-decoration:none;
}

header{
    background: brown;
    background-image: url('../img/zorro.jpeg');
    background-size: contain;
    background-repeat:no-repeat;
    height: 50%;
    margin: 0%;
    padding-top:1%;
    padding-bottom: 1%;
    padding-left: 30%;
}
nav{
    margin-top:0%;
}
body{
    /*background-color:rgb(88, 63, 63);*/
    background-image: url('../img/fondo_pantalla2.jpeg');
    background-size: cover;
    opacity: 0.8;
}
table{
    background:white;
}
th{
    background:black;
    color:red;
}